$background-color: #222e35;
$gap: 30px;

.container {
  display: flex;
  position: relative;
  background-color: $background-color;

  .contact_list {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: $gap;
    left: $gap;
    bottom: $gap;

    width: 30%;
    box-sizing: border-box;

    background-color: $background-color;

    border: 1px solid white;
  }

  .chat {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: $gap;
    right: $gap;
    bottom: $gap;

    width: calc(70% - $gap * 2);
    padding: 30px;
    box-sizing: border-box;

    background-color: $background-color;
    border: 1px solid white;
  }
}
